# Node / React
node_modules/
build/

# Java / Eclipse
*.class
*.log
.settings/
.classpath
.project

# OS files
.DS_Store
Thumbs.db

# Java compiled output
backend-java/bin/
*.class

# Temporary / data files
*.txt
